# Distribution / packaging
.Python
env/
build/
develop-eggs/
node_modules/
.vscode/
unzip_requirements.py
.requirements.zip
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
